<header>

  <nav class="flex h4 bg-darken-1">
    <div class="px2 py1"
      style="color: #B3DBFF;">
      <img src="../images/batarangle.svg"
        style="width: 1em; height: 1em;">Batarangle
    </div>
    <div class="flex-auto"></div>
    <div class="white px2 py1 center pointer bg-darken-1">
      Components
    </div>
    <div class="white px2 py1 center pointer">
      Performance
    </div>
  </nav>

  <!-- SEARCH -->
  <div class="px2">
    <input class="field bg-white block col-12 mt2 mb2"
      placeholder="Search"
      type="text"
      #query
      (keyup)="onChange(query.value)">
  </div>

</header>
