<header>

  <nav class="flex h4 bg-darken-1">
    <div class="p1"
      style="color: #B3DBFF;">
      <img src="../images/batarangle.svg"
        style="width: 1em; height: 1em;">Batarangle
    </div>
    <div class="flex-auto"></div>
    <div class="white p1 center border-left pointer">Components</div>
    <div class="white p1 center border-left pointer">Performance</div>
  </nav>

  <!-- SEARCH -->
  <div class="px1">
    <input class="field bg-white block col-12 mt2 mb2"
      placeholder="Search"
      type="text"
      #query
      (keyup)="onChange(query.value)">
  </div>

</header>
